@font-face {
    font-family: 'RanchoRegular';
    src: url("/assets/fonts/Rancho-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'RobotoBold';
    src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'RobotoLight';
    src: url("/assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'RobotoRegular';
    src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: inline;
}

a,
button {
    font-family: 'RobotoLight';
    font-size: 16px;
    color: black;
    color: #83c3e9;
    text-decoration: none;
    padding: 20px;
}

a.blu {
    font-family: 'RobotoLight';
    font-size: 16px;
    color: black;
    color: #295067;
    text-decoration: none;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    height: 70px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    display: inline-block;
}

button {
    border-radius: 20%;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

button.blue:hover {
    background-color: #4383A9;
}

img.borsa {
    margin-right: auto;
}

hr.header {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    border-color: #295067;
    margin-left: 945px;
    margin-right: 477px;
}

hr.linea {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

div.container {
    bottom: 0;
    background-color: #f7f7f7;
    height: 50px;
    width: 100%;
    margin-bottom: 0;
}

li.lista {
    font-family: 'RobotoLight';
    font-size: 14pt;
    color: #295067;
    padding-top: 15px;
    padding-left: 30px;
}

li.lista2 {
    font-family: 'RobotoBold';
    font-size: 16pt;
    color: #295067;
    padding-left: 20px;
}

ul.elenco li {
    display: inline;
    padding-top: 30px;
}

div.elenco {
    height: 25px;
    width: 100%;
    padding-top: 10px;
}

li.lista3 {
    font-family: 'RobotoRegular';
    font-size: 14px;
    color: #555555;
    padding-left: 565px;
}

li.lista4 {
    font-family: 'RobotoRegular';
    font-size: 14px;
    color: #555555;
    padding-left: 185px;
}

div.container2 {
    position: relative;
    height: 550px;
    width: 100%;
}

table.tabella {
    width: 90%;
    padding-left: 150px;
    ;
    padding-top: 35px;
    /*padding-bottom: 375px;*/
}

table td {
    font-family: 'RobotoRegular';
    font-size: 16px;
    color: #295067;
    border: 0px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.5);
    /*height: 55px;*/
}

table tr {
    height: 55px;
}

td.img {
    width: 85px;
}

img.pulsante {
    float: right;
    padding-right: 168px;
}