<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Liste</title>
    <!--<link rel="stylesheet" type="text/css" href="css/liste.css">-->
</head>

<body>
    <header>
        <img src="/assets/img/logo.png" alt="Borsa spesa" class="borsa">
        <nav>
            <ul class="nav_links">
                <li><a class="blu"><button>Elenco Liste</button></a></li>
                <li><a><button>Ricette</button></a></li>
                <li><a><button>Categorie</button></a></li>
            </ul>
        </nav>
        <img src="/assets/img/img_profile.png" class="profile">
    </header>
    <hr class="header">
    <hr class="linea">
    <div class="container">
        <div class="elenco">
            <ul class="elenco">
                <li class="lista">11 liste&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></li>
                <li class="lista2">Spesa di Capodanno</li>
                <li class="lista3">dose</li>
                <li class="lista4">quantità</li>
            </ul>
        </div>
    </div>
    <div class="container2">
        <table class="tabella">
            <tr>
                <td class="img">
                    <img src="/assets/img/product_1.png">
                </td>
                <td>
                    <p>Pane integrale</p>
                </td>
                <td>
                    <p>200 gr.</p>
                </td>
                <td>
                    <p>1</p>
                </td>
                <td>
                    <img src="/assets/img/more.png">
                </td>
            </tr>
            <tr>
                <td class="img">
                    <img src="/assets/img/product_2.png">
                </td>
                <td>
                    <p>Focaccia di recco</p>
                </td>
                <td>
                    <p>400 gr.</p>
                </td>
                <td>
                    <p>3</p>
                </td>
                <td>
                    <img src="/assets/img/more.png">
                </td>
            </tr>
            <tr>
                <td class="img">
                    <img src="/assets/img/product_3.png">
                </td>
                <td>
                    <p>Panini al latte</p>
                </td>
                <td>
                    <p>500 gr.</p>
                </td>
                <td>
                    <p>20</p>
                </td>
                <td>
                    <img src="/assets/img/more.png">
                </td>
            </tr>
            <tr>
                <td class="img">
                    <img src="/assets/img/product_9.jpg">
                </td>
                <td>
                    <p>Roast beef</p>
                </td>
                <td>
                    <p>1 kg.</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <img src="/assets/img/more.png">
                </td>
            </tr>
            <tr>
                <td class="img">
                    <img src="/assets/img/product_4.png">
                </td>
                <td>
                    <p>Farina garofalo</p>
                </td>
                <td>
                    <p>3 kg.</p>
                </td>
                <td>
                    <p>3</p>
                </td>
                <td>
                    <img src="/assets/img/more.png">
                </td>
            </tr>
            <tr>
                <td class="img">
                    <img src="/assets/img/product_5.png">
                </td>
                <td>
                    <p>Red Velvet</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>2</p>
                </td>
                <td>
                    <img src="/assets/img/more.png">
                </td>
            </tr>
            <tr>
                <td class="img">
                    <img src="/assets/img/product_6.png">
                </td>
                <td>
                    <p>Petto di pollo</p>
                </td>
                <td>
                    <p>500 gr.</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <img src="/assets/img/more.png">
                </td>
            </tr>
            <tr>
                <td class="img">
                    <img src="/assets/img/product_7.png">
                </td>
                <td>
                    <p>Fragoline di bosco</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>3</p>
                </td>
                <td>
                    <img src="/assets/img/more.png">
                </td>
            </tr>
            <tr>
                <td class="img">
                    <img src="/assets/img/product_8.png">
                </td>
                <td>
                    <p>Burro</p>
                </td>
                <td>
                    <p>250 gr.</p>
                </td>
                <td>
                    <p>2</p>
                </td>
                <td>
                    <img src="/assets/img/more.png">
                </td>
            </tr>
        </table>
        <img src="/assets/img/add_button.png" class="pulsante">
    </div>
</body>

</html>