<!DOCTYPE html>
<html lang="in">

<head>
    <meta charset="utf-8">
    <title>SignIn</title>
</head>

<body>
    <table>
        <tr>
            <td class="left">
                <h1>Fai spesa</h1>
                <h2 class="titolo">Crea un account</h2><br>
                <form [formGroup]="signForm" (ngSubmit)="onSubmit(signForm.value)" class="inTable" ngNativeValidate>
                    <label>Nome e cognome</label><br>
                    <input type="text" name="nomeCognome" formControlName="nomeCognome" required><br>
                    <label>Email</label><br>
                    <input type="text" name="email" formControlName="email" required>
                    <label>Username</label><br>
                    <input type="text" name="username" formControlName="username" required>
                    <label>Password</label><br>
                    <input type="password" name="password" formControlName="password" required><br>
                    <button type="submit" class="bottone">Crea un account</button>
                </form>
                <br>
                <h4 class="titolo">Hai già un account?</h4>
                <h2><a routerLink="/login" class="ref">Accedi ora</a></h2>
            </td>
            <td class="right"><img src="/assets/img/BG_login.png" alt="Donna che fa la spesa" align="right" class="inTable"></td>
        </tr>
    </table>
</body>

</html>