<!-- <router-outlet> </router-outlet> -->
<app-logsign></app-logsign>

<!-- FIREBASE EXAMPLE -->
<!-- <div>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="item">Item</label>
            <input type="text" placeholder="Enter content" id="item" required [(ngModel)]="itemValue" name="item">      
        </div>
        <div>
            <button type="submit"> Submit </button>
        </div>
    </form>
</div>


<h2>Content from firebase</h2>
<div>
    <pre *ngFor="let item of items | async "> {{ item.content}} </pre>
</div> -->