<!DOCTYPE html>
<html lang="in">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <!--<link href="css/signInLogIn.css" rel="stylesheet" type="text/css">-->
</head>

<body>
    <table>
        <tr>
            <td class="left">
                <h1>Fai spesa</h1>
                <h2 class="titolo2">Accedi</h2><br>
                <form class="inTable">
                    <label>Email</label><br>
                    <input type="email" name="Email">
                    <label>Username</label><br>
                    <input type="text" name="username"><br>
                    <label>Password</label><br>
                    <input type="password" name="psw"><br><br>
                    <a><button type="button" class="bottone">Accedi</button></a>
                </form>
                <br>
                <!--<h4 class="titolo2">Oppure</h4>-->
                <!--<h2><a class="ref1">Crea un account</a></h2>-->
            </td>
            <td class="right"><img src="/assets/img/BG_login.png" alt="Donna che fa la spesa" align="right" class="inTable"></td>
        </tr>
    </table>
</body>

</html>