<h2>SITO FAI SPESA</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#" [formGroup]="signForm" (ngSubmit)="signin(signForm.value)" ngNativeValidate>
			<h1>CREA IL TUO ACCOUNT</h1>
			<input type="text" placeholder="Nome e Cognome" formControlName="nomeCognome" required/>
			<input type="text" placeholder="Username" formControlName="username" required/>
			<input type="email" placeholder="Email" formControlName="email" required/>
			<input type="password" placeholder="Password" formControlName="password" required/>
			<button type="submit">Sing up</button>
		</form>
	</div>

	<!-- LOGIN -->
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Login</h1>
			<input #username type="text" placeholder="Username" />
			<input #password type="password" placeholder="Password" />
			<a href="#">Password dimenticata?</a>
			<button (click)="login(username.value, password.value)">Login</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bentornato!</h1>
				<p> Per accedere inserisci le tue credenziali </p>
				<button class="ghost" id="signIn" (click)="switchLogin()">Login</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Benvenuto!</h1>
				<p>Inseriesi i tuoi dati per registrarti</p>
				<button class="ghost" id="signUp" (click)="switchSignUp()">Sign Up</button>
			</div>
		</div>
	</div>
</div>

